@if (SentByUser)
{
  <div class="offset-5 col-7 float-end @(IsMessageBlock ? "mb-1" : "mb-3")">
    <div class="float-end">
      <div class="message-body float-end">
        <div id="message-@Id" class=" shadow bg-primary bg-gradient rounded py-2 px-3 @(IsMessageBlock ? "mb-1" : "mb-2")">
          <span class="mb-0 text-white">@Content</span>
        </div>
      </div>
      @if (!IsMessageBlock)
      {
        <p class="small text-muted ">@Date.ToShortDateString() : @Date.ToShortTimeString()</p>
      }
    </div>
  </div>
}
else
{
  <!-- Sender Message-->
  <div class="col-7 float-start d-flex media @(IsMessageBlock ? "mb-1" : "mb-3")">
    <span class="float-start me-3 @(IsMessageBlock ? "invisible" : "visible")"><i class="fas fa-user-circle fa-2x"></i></span>
    <div class="message-body media-body ml-3">
      <div id="message-@Id" class="bg-secondary bg-gradient shadow rounded py-2 px-3 @(IsMessageBlock ? string.Empty : "mb-2")">
        <p class="text-small text-light mb-0">@Content</p>
      </div>
      @if (!IsMessageBlock)
      {
        <p class="small text-muted ">@Date.ToShortDateString() : @Date.ToShortTimeString()</p>
      }
    </div>
  </div>
}

@code {
  [Parameter]
  public bool SentByUser { get; set; }

  [Parameter]
  public string Content { get; set; }

  [Parameter]
  public DateTime Date { get; set; }

  [Parameter]
  public string From { get; set; }

  [Parameter]
  public bool IsMessageBlock { get; set; }

  [Parameter]
  public long Id { get; set; }
}
