@page "/chat"

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IState<ChatState> _chatState
@inject IDispatcher _dispatcher

@implements IAsyncDisposable
@inherits FluxorComponent

@if (IsConnected)
{
<div>@TimeToEnd.ToString(@"mm\:ss")</div>
  <Messenger OnClick="Send" UserName="@_userName" />
  <EndConversationPopUp ModalClass="@_modalClass" ModalDisplay="@_modalDisplay" ShowBackdrop="@_showBackdrop" />
}
else
{
  <div>Connecting with another user...</div>
}

